{% extends 'base.html' %}
{% load music_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>{{ title }}</h1>

{% if 'исполнители' in title|lower or app_name == 'artists' %}
    {% include 'artist_list.html' with artists=posts %}

{% elif 'рецензии' in title|lower or app_name == 'reviews' %}
    <a href="{% url 'all_reviews' %}">Все рецензии</a> |
    <a href="{% url 'genres_for_reviews' %}">Рецензии по жанрам</a>
    {% include 'review_template.html' with reviews=posts %}

{% elif 'Сообщества' in title or app_name == 'communities' %}
    <h2>Фан-сообщества</h2>
    {% show_categories %}

{% else %}
    <ul>
        {% for p in posts %}
        <li>
            <h2>{{ p.title }}</h2>
            <p>{{ p.content }}</p>
            <hr>
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

