{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="login-container">
    <h1 class="login-title">Авторизация</h1>
    <form class="login-form" method="post">
        {% csrf_token %}
        <div class="form-fields">
            {{ form.as_p }}
        </div>
        <div class="btn-wrapper">
            <button type="submit" class="btn-login">Войти</button>
        </div>
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <p><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>
    </form>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'users/css/authorization.css' %}">
{% endblock %}