{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="login-container">
<h1 class="login-title">Изменение пароля</h1>
<form class="login-form" method="post">
 {% csrf_token %}
 <div class="form-error">{{ form.non_field_errors }}</div>
    <div class="form-fields">
            {% for f in form %}
            <div class="form-group">
                <label class="form-label" for="{{ f.id_for_label }}">
                    {{ f.label }}
                </label>
                {{ f }}
                {% if f.help_text %}
                    <div class="helptext">{{ f.help_text }}</div>
                {% endif %}
                {% if f.errors %}
                    <div class="field-error">{{ f.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    <div class="btn-wrapper">
            <button type="submit" class="btn-login">Сменить пароль</button>
        </div>
</form>
    </div>
<link rel="stylesheet" type="text/css" href="{% static 'users/css/authorization.css' %}">
{% endblock %}